<div class="row">
    <%= render "layouts/admin_sidebar" %>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <nav aria-label="breadcrumb ">
    <ol class="breadcrumb my-4">
        <li class="breadcrumb-item fs-4"><%=link_to 'Inicio', admin_index_path%> </li>
        <li class="breadcrumb-item fs-4"><%= link_to 'Métodos de Pagamento', admin_payment_methods_path %></li>
        <li class="breadcrumb-item fs-4"><%= link_to @pix.name, admin_pix_path(@pix) %></li>
        <li class="breadcrumb-item fs-4">Editar</li>

    </ol>
    </nav>
    <hr class="feature-divider">

    <%= render 'admin/payment_methods/form', payment_method: @pix, button_label: 'Salvar' %>
<%= link_to 'Voltar', admin_payment_methods_path, class: 'me-4 btn btn-sm btn-outline-primary mt-4' %> 
<% if @pix.active? %> 
    <%= link_to 'Inativar', inactivate_admin_pix_path(@pix), method: :post, class: 'btn btn-outline-dark mt-4' %>
<% else %>
    <%= link_to 'Ativar', activate_admin_pix_path(@pix), method: :post, class: 'btn btn-outline-dark mt-4' %>
<% end %>