<div class="row">
    <%= render "layouts/admin_sidebar" %>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <nav aria-label="breadcrumb ">
    <ol class="breadcrumb my-4">
        <li class="breadcrumb-item fs-4"><%=link_to 'Inicio', admin_index_path%> </li>
        <li class="breadcrumb-item fs-4 active" aria-current="page">Cobranças</li>
    </ol>
    </nav>
    <hr class="feature-divider">

  <div class="row">
    <div class="col mx-2 card text-white bg-success mb-3" style="max-width: 10rem;max-height: 10rem;">
      <div class="card-header fs-5">Aceitas</div>
        <div class="card-body">
          <h4 class="card-title text-center display-5"><%=@charges.available_approved.size%></h4>
        </div>
    </div>

    <div class="col mx-2 card text-white bg-warning mb-3"  style="max-width: 10rem;max-height: 10rem;">
      <div class="card-header fs-5"><%= link_to 'Pendentes', admin_pendentes_path , class: 'text-white'%></div>
        <div class="card-body">
          <h4 class="card-title text-center display-5"><%=@pendentes.size%></h4>
        </div>
    </div>

        <div class="col mx-2 card text-white bg-danger mb-3"  style="max-width: 10rem;max-height: 10rem;">
      <div class="card-header fs-5">Recusadas</div>
        <div class="card-body">
          <h4 class="card-title text-center display-5"><%=@recusadas.size %></h4>
        </div>
    </div>
  </div>