<div class="row">
    <%= render "layouts/admin_sidebar" %>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <nav aria-label="breadcrumb ">
    <ol class="breadcrumb my-4">
        <li class="breadcrumb-item fs-4"><%=link_to 'Inicio', admin_index_path%> </li>
        <li class="breadcrumb-item fs-4">Métodos de Pagamento</li>
        <li class="breadcrumb-item fs-4 active" aria-current="page"><%= @card.name %></li>

    </ol>
    </nav>
    <hr class="feature-divider">

    
<div class="card mb-3">
  <h3 class="card-header"><%= @card.name %></h3>
  <div class="card-body">
    <%= image_tag(@card.icon) %>
    <h6 class="card-subtitle text-muted">Token</h6>
  </div>
    <div class="card-body">
    <p class="card-text">Cartão de Crédito</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Taxa de Cobrança: <%= number_to_percentage @card.chargefee, precision: 1%></li>
    <li class="list-group-item">Taxa Máxima: <%= number_to_currency @card.maxfee %></li>
  </ul>
  <div class="card-body">
  <% if @card.active? %>
        <%= link_to 'Inativar', '#', method: :post  , class: 'card-link' %>
    <% else %>
        <%= link_to 'Ativar', '#', method: :post  , class: 'card-link'  %>
  <% end %>
    <%=link_to 'Editar', '#', class: 'card-link' %> 
  </div>
  <div class="card-footer text-muted">
    Criado em: <%= l @card.created_at, format: :short%>
  </div>
  <div class="card-footer text-muted">
    Atualizado em: <%= l @card.updated_at, format: :short%>
  </div>
</div>

<%= link_to 'Voltar', admin_companies_path  %>