<div class="row">
    <%= render "layouts/admin_sidebar" %>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <nav aria-label="breadcrumb ">
    <ol class="breadcrumb my-4">
        <li class="breadcrumb-item fs-4"><%=link_to 'Inicio', admin_index_path%> </li>
        <li class="breadcrumb-item fs-4 active" aria-current="page">Métodos de Pagamento</li>
    </ol>
    </nav>
    <hr class="feature-divider">

    <h1 class="fs-3"> Cadastrar Novos Métodos de Pagamento </h1>
    <div class="row">
        <div class="col-12 col-md-2 mb-3">
            <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#cardtrigger">
                Cadastrar novo cartão
            </button>
        </div>
        <div class="col-12 col-md-2 mb-3">
            <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#boletotrigger">
                Cadastrar novo boleto
            </button>
        </div>
        <div class="col-12 col-md-2 mb-3">
            <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#pixtrigger">
                Cadastrar novo pix
            </button>
        </div>

    </div>


<div class="modal fade" id="cardtrigger" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Cartão de Crédito</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'form', payment_method: @card, button_label: 'Cadastrar Cartão de Crédito' %>        
      </div>
      <div class="modal-footer">
      
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
<!-- Form Boleto -->
<div class="modal fade" id="boletotrigger" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Boleto Bancário</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'form', payment_method: @boleto, button_label: 'Cadastrar Boleto Bancário' %>
        
      </div>
      <div class="modal-footer">
      
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- Form Pix -->
<div class="modal fade" id="pixtrigger" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Pix</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'form', payment_method: @pix, button_label: 'Cadastrar Pix' %>
        
      </div>
      <div class="modal-footer">
      
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

    <p class="fs-4">Métodos de Pagamento disponíveis:</p>
    <p class="fs-5">Cartões de Crédito</p>
    <% if @cards.empty? %>
        <p class="text-danger">Nenhum cadastrado</p>
    <% else %>
        <div class="row row-cols-1 row-cols-md-6 g-4">
            <% @cards.each do |credit_card|%>
                <div class="col">
                    <div class="card">
                    <% if credit_card.icon.attached? %>
                        <%= image_tag(credit_card.icon, class: 'card-img-top', size: "100x100") %>
                    <%end%>
                        <div class="card-body">
                            <h5 class="card-title fs-6"><%= link_to credit_card.name, admin_credit_card_path(credit_card) %></h5>
                            <p class="card-text"> <%= credit_card.status %></p>
                            <p class="card-text"><%= link_to 'Editar', edit_admin_credit_card_path(credit_card) %></p>
                        </div>
                    </div>
                </div>
            <%end%>
        </div>
    <%end%>

    <p class="fs-5">Boleto Bancário</p>
    <% if @boletos.empty? %>
        <p class="text-danger">Nenhum cadastrado</p>
    <% else %>
        <div class="row row-cols-1 row-cols-md-6 g-4">
            <% @boletos.each do |boleto|%>
                <div class="col">
                    <div class="card">
                        <%= image_tag(boleto.icon, class: 'card-img-top', size: "100x100") %>
                        <div class="card-body">
                            <h5 class="card-title"><%= link_to boleto.name, admin_boleto_path(boleto) %></h5>
                            <p class="card-text"> <%= boleto.status %></p>
                            <p class="card-text"><%= link_to 'Editar', edit_admin_boleto_path(boleto) %></p>
                        </div>
                    </div>
                </div>
            <%end%>
        </div>
    <%end%>

    <p class="fs-5">PIX</p>
    <% if @pixs.empty? %>
        <p class="text-danger">Nenhum cadastrado</p>
    <% else %>
        <div class="row row-cols-1 row-cols-md-6 g-4">
            <% @pixs.each do |pix|%>
                <div class="col">
                    <div class="card">
                        <%= image_tag(pix.icon, class: 'card-img-top') %>
                        <div class="card-body">
                            <h5 class="card-title"><%= link_to pix.name, admin_pix_path(pix) %></h5>
                            <p class="card-text"> <%= pix.status %></p>
                            <p class="card-text"><%= link_to 'Editar', edit_admin_pix_path(pix) %></p>

                        </div>
                    </div>
                </div>
            <%end%>
        </div>
    <%end%>
</div>